# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.GuessingGame.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\JH\RiderProjects\GuessingGame\.idea\.idea.GuessingGame\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
